*{
    margin: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #433B4F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



.Header{
    text-align: center;
    color: white;
    font-family: "Dancing Script";
    font-size: 50px;
    margin: 0px 0  40px;
    font-weight: 400;
}

/* Flex container to center and control content so that box can be reshaped dynamically. Set to 650px because photo is similar size and looks good. can be made larger without issue. doesn't let you make it to small however, likely due to the image creating constraints. */
.Parent{
    display: flex;
    /* essential to stopping the box from folding in on itself if flex-direction column is removed */
    flex-wrap: wrap;
    /* Back-up to prevent ruin of display if flex wrap is messed with. */
    flex-direction: column;
    max-width: 650px;
    /* I don't know how margin: auto works, but I smile everytime i use it. */
    margin: auto ;
    background-color: white;
    color: #433B4F;
    
}

.Parent a{
    color: white;
    text-decoration: none;
}

.Parent img{
    max-width: 100%;
}

.TitleText{
    padding: 25px;
    border-bottom: lightgray 1px dashed;
}
.TitleText a{
    color: #B77DFD;
    
}

.TitleText h2{
    font-weight: 400;
    font-size: 1.8em;  
}

.TitleText p {
    margin: 0 0 20px ;
    text-decoration: none;
    font-size: 1em;
}

.ContentBox{
    display: flex;
    width: 100%;;
    height: 80px;
    line-height: 80px;
    
}

.ContentBox input{
    /* Allow Readmore to dynamically change with max width adjustments to plus */
    flex-grow: 1;
    padding:  0 25px;
    font-size: 1.5em;
    border: none;
    outline: none;

}


/* Changes place Holder text colour */
::placeholder{
    color: #433B4F;
    /* Firefox has an issue about opacity */
    opacity: 1;
}

/* Makes the plus square, large and most importantly clickable everywhere */
.ContentBox a{
    background-color: #B77DFD ;
    color: white;
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 3em;
    font-weight: 900;
}

.AlternatingContentList{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
    color: white;
}

.AlternatingContentList:nth-child(odd){
    background-color: #B77DFD;
}

.AlternatingContentList:nth-child(even){
    background-color: #C8A3F8;
}

.DateBox{
    /* I honestly don't know if flex grow 1 wouldn't have been a better choice. */
    width: 30%;
    text-align: center;
    /* padding was used rather the display flex as I wanted gaps in clickable spots between each article to give the feeling of each box being distinct to the user rather then a seamless clickable area that felt like one big button. */
    padding: 25px 25px;
    height: 100%;

}

.DateBox .Month{
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    font-size: 1.2em;
}

.DateBox .Day{
    font-size: 2.5em;
    font-weight: 600;
}

.ArticleBox{
    display: flex;
    align-items: center;
    /* I honestly don't know if flex grow 2 wouldn't have been a better choice. */
    width: 70%;
    height: 100%;
    
}
.ArticleBox a{ 
    padding: 25px 15px;
    font-size: 1.1em;
}

.Footer{
    padding: 40px ;
    background-color: black;
    color: white;
    text-align: center;
}

.BottomBanner{
    padding: 25px 0px 0px;
    /* To create that small gap look for the bottom banner deviders */
    word-spacing: -3px;
}

.Footer p:nth-of-type(1){
    margin-bottom: 10px;
    font-size: 1em;
       
}

.Footer p:nth-of-type(2){
    line-height: 1.5;
    font-size: 0.8em;
}

.BottomBanner a{
}



